<article class="static-social-embed sse-theme-{{ config.instagram.theme }} sse-status sse-instagram">
    {% if errors %}
        <div class="sse-status-error">
            <p>{{ 'PLUGIN_SSE.INSTAGRAM.CANNOT_RENDER'|t }} <a href="{{ url }}">{{ 'PLUGIN_SSE.INSTAGRAM.VIEW_ON_INSTAGRAM'|t }}</a></p>
            <ul>
                {% for error in errors %}
                    <li>{{ error.code }}: {{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <header>
            <div class="sse-status-author-avatar" aria-hidden="true">
                <a href="{{ author.link }}">
                    <img src="{{ author.avatar }}" alt="{{ author.name }}" />
                </a>
            </div>
            <div class="sse-status-author-name{% if location %} has-location{% endif %}">
                <div class="sse-status-author-display-name">
                    <a href="{{ author.link }}" title="{{ author.display_name }}">
                        {{- author.name -}}
                        {%- if author.verified %}
                            <span class="sse-verified" title="{{ 'PLUGIN_SSE.INSTAGRAM.VERIFIED_ACCOUNT'|t }}">
                                {% include 'partials/static-social-embeds/verified.svg.twig' %}
                            </span>
                        {% endif -%}
                    </a>
                </div>
                {% if location %}
                    <div class="sse-status-author-handle">
                        {% if location.has_public_page %}
                            <a href="https://www.instagram.com/explore/locations/{{ location.id }}/{{ location.slug }}/">
                                {{- location.name -}}
                            </a>
                        {% else %}
                            {{- location.name -}}
                        {% endif %}
                    </div>
                {% endif %}
            </div>

            <div class="sse-status-network-icon">
                <a href="{{ author.link }}">{{ 'PLUGIN_SSE.INSTAGRAM.VIEW_PROFILE'|t }}</a>
            </div>
        </header>

        {% if medias %}
            <figure>
                {% set medias_count = medias|length %}
                {% for media in medias %}
                    <div class="sse-status-image sse-status-image-{{ media.type|replace('_', '-') }}{% if loop.first %} is-active{% endif %}"
                         aria-label="{{ 'PLUGIN_SSE.EMBEDS.MEDIA_X_OF_Y'|t|replace({'$i': loop.index, '$count': medias_count}) }}">
                        {% if media.type == 'video' or media.type == 'animated_gif' %}
                            <a href="#" class="sse-status-image-handle-play" aria-label="{{ 'PLUGIN_SSE.EMBEDS.PLAY_MEDIA'|t }}">
                                <span class="fas fa-play" ARIA-HIDDEN="true"></span>
                            </a>
                        {% endif %}
                        <img src="{{ media.src }}" alt="{{ caption_raw|e('html_attr') }}" />
                        {% if media.type == 'video' %}
                            <video controls class="sse-status-image-inline-{{ media.type|replace('_', '-') }}">
                                <source src="{{ media.src_video }}">
                                {{ 'PLUGIN_SSE.EMBEDS.VIDEOS_NOT_SUPPORTED'|t }}
                            </video>
                            <span class="sse-status-image-badge">
                                {{ 'PLUGIN_SSE.INSTAGRAM.VIEWS'|t|replace({'$views': media.views|number_format}) }}
                            </span>
                        {% endif %}
                        {% if medias_count > 1 %}
                            <aside class="sse-status-image-progress-dots" aria-hidden="true">
                                {% set media_index = loop.index %}
                                {% for i in 1..medias_count %}
                                    <span class="sse-status-image-progress-dot{% if media_index == i %} is-active{% endif %}"></span>
                                {% endfor %}
                            </aside>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if medias_count > 1 %}
                    <a href="#" rel="prev" class="sse-status-image-handle-prev" aria-label="{{ 'PLUGIN_SSE.EMBEDS.PREV_MEDIA'|t }}">
                        <span class="fas fa-chevron-left"></span>
                    </a>
                    <a href="#" rel="next" class="sse-status-image-handle-next" aria-label="{{ 'PLUGIN_SSE.EMBEDS.NEXT_MEDIA'|t }}">
                        <span class="fas fa-chevron-right"></span>
                    </a>
                {% endif %}
            </figure>
        {% endif %}

        <aside class="sse-status-instagram-show-profile">
            <a href="{{ author.link }}">{{ 'PLUGIN_SSE.INSTAGRAM.SHOW_PROFILE_ON_INSTAGRAM'|t }}</a>
        </aside>

        <aside class="sse-status-instagram-links">
            <a href="{{ link }}"
               class="sse-status-instagram-links-like"
               aria-label="{{ 'PLUGIN_SSE.INSTAGRAM.BUTTONS_ACCESSIBILITY.LIKES'|t|replace({'$likes': stats.likes}) }}"
               title="{{ 'PLUGIN_SSE.INSTAGRAM.BUTTONS_ACCESSIBILITY.LIKES'|t|replace({'$likes': stats.likes}) }}">
                <span class="far fa-heart" aria-hidden="true"></span>
            </a>
            <a href="{{ link }}"
               class="sse-status-instagram-links-comment"
               aria-label="{{ 'PLUGIN_SSE.INSTAGRAM.BUTTONS_ACCESSIBILITY.COMMENTS'|t|replace({'$comments': stats.comments}) }}"
               title="{{ 'PLUGIN_SSE.INSTAGRAM.BUTTONS_ACCESSIBILITY.COMMENTS'|t|replace({'$comments': stats.comments}) }}">
                <span class="far fa-comment fa-flip-horizontal" aria-hidden="true"></span>
            </a>
            <a href="{{ link }}"
               class="sse-status-instagram-links-bookmark"
               aria-label="{{ 'PLUGIN_SSE.INSTAGRAM.BUTTONS_ACCESSIBILITY.BOOKMARK'|t }}"
               title="{{ 'PLUGIN_SSE.INSTAGRAM.BUTTONS_ACCESSIBILITY.BOOKMARK'|t }}">
                <span class="far fa-bookmark" aria-hidden="true"></span>
            </a>
        </aside>

        <aside class="sse-status-instagram-likes">
            <a href="{{ link }}">{{ 'PLUGIN_SSE.INSTAGRAM.LIKES'|t|replace({'$likes': stats.likes|number_format}) }}</a>
        </aside>

        <p class="sse-status-content">
            <a href="{{ author.link }}" class="sse-status-instagram-caption-username">{{ author.name }}</a>
            {{ caption|raw|nl2br -}}
        </p>

        {% if stats.comments > 0 %}
            <aside class="sse-status-instagram-show-comments">
                <a href="{{ link }}">
                    {%- if stats.comments >= 2 -%}
                        {{- 'PLUGIN_SSE.INSTAGRAM.SHOW_COMMENTS'|t|replace({'$comments': stats.comments|number_format}) -}}
                    {%- else -%}
                        {{- 'PLUGIN_SSE.INSTAGRAM.SHOW_COMMENT'|t -}}
                    {%- endif -%}
                </a>
            </aside>
        {% endif %}

        <footer>
            <p class="sse-status-date">
                <time datetime="{{ date|date('c') }}"><a href="{{ link }}">{{ date|date('PLUGIN_SSE.EMBEDS.DATE_FORMAT'|t) }}</a></time>
            </p>

            <aside class="sse-status-instagram-logo">
                <a href="{{ link }}">
                    <span class="fab fa-instagram"></span>
                </a>
            </aside>
        </footer>
    {% endif %}
</article>
