<article class="static-social-embed sse-theme-{{ config.mastodon.theme }} sse-status sse-toot">
    {% if errors %}
        <div class="sse-status-error">
            <p>{{ 'PLUGIN_SSE.MASTODON.CANNOT_RENDER'|t }} <a href="{{ url }}">{{ 'PLUGIN_SSE.MASTODON.VIEW_ON_MASTODON'|t }}</a></p>
            <ul>
                {% for error in errors %}
                <li>{{ error.code }}: {{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <header>
            <div class="sse-status-author-avatar" aria-hidden="true">
                <a href="{{ account.url }}">
                    <img src="{{ account.avatar }}" alt="{{ account.username }}" />
                </a>
            </div>
            <div class="sse-status-author-name">
                <div class="sse-status-author-display-name">
                    <a href="{{ account.url }}">
                        {{- account.display_name ?: account.username -}}
                        {%- if account.locked %}
                            <span class="sse-locked" title="{{ 'PLUGIN_SSE.MASTODON.LOCKED_ACCOUNT'|t }}">
                                <span class="fas fa-lock" aria-hidden="true"></span>
                            </span>
                        {% endif -%}
                    </a>
                </div>
                <div class="sse-status-author-handle">
                    <a href="{{ account.url }}">
                        {{- '@' ~ account.fully_qualified_name -}}
                    </a>
                </div>
            </div>
            <div class="sse-status-network-icon">
                <a href="web+mastodon://follow?uri={{ account.fully_qualified_name }}" title="{{ 'PLUGIN_SSE.MASTODON.FOLLOW_ON_MASTODON'|t|replace({'$username': account.username}) }}">
                    <span class="fab fa-mastodon"></span>
                    <span class="sse-mastodon-follow-text">
                        {{ 'PLUGIN_SSE.MASTODON.FOLLOW'|t }}
                    </span>
                </a>
            </div>
        </header>

        {% if spoiler_text %}
            <p class="sse-status-content sse-spoiler-text">
                {{ spoiler_text }} <button class="sse-spoiler-text-toggle-handle" data-show="{{ 'PLUGIN_SSE.MASTODON.SHOW_MORE'|t }}" data-hide="{{ 'PLUGIN_SSE.MASTODON.SHOW_LESS'|t }}" aria-haspopup="true">{{ 'PLUGIN_SSE.MASTODON.SHOW_MORE'|t }}</button>
            </p>
        {% endif %}

        <div class="sse-status-content{% if spoiler_text %} sse-status-content-is-hidden{% endif %}">
            {{- content|raw -}}
        </div>

        {% if media_attachments %}
            <figure{% if sensitive %} class="sse-has-sensitive-content is-blurred"{% endif %}>
                {% set medias_count = media_attachments|length %}
                {% for media in media_attachments %}
                    <div class="sse-status-image sse-status-image-{{ media.type != 'gifv' ? media.type|replace('_', '-') : 'animated-gif' }}{% if loop.first %} is-active{% endif %}"
                         aria-label="{{ 'PLUGIN_SSE.EMBEDS.MEDIA_X_OF_Y'|t|replace({'$i': loop.index, '$count': medias_count}) }}">
                        {% if sensitive %}
                            <a href="#" class="sse-status-image-sensitive-toggle">
                                <strong>{{ 'PLUGIN_SSE.MASTODON.SENSITIVE_CONTENT.TITLE'|t }}</strong>
                                <span>{{ 'PLUGIN_SSE.MASTODON.SENSITIVE_CONTENT.TOGGLE'|t }}</span>
                            </a>
                        {% endif %}
                        {% if media.type == 'video' or media.type == 'gifv' %}
                            <a href="#" class="sse-status-image-handle-play" aria-label="{{ 'PLUGIN_SSE.EMBEDS.PLAY_MEDIA'|t }}">
                                <span class="fas fa-play"></span>
                            </a>
                        {% endif %}
                        <img src="{{ media.preview_url }}" alt="{{ media.description }}" title="{{ media.description }}" />
                        {% if media.type == 'video' or media.type == 'gifv' %}
                            <video {% if media.type == 'video' %}controls{% else %}loop muted{% endif %} class="sse-status-image-inline-{{ media.type|replace('_', '-')|replace('gifv', 'animated-gif') }}">
                                <source src="{{ media.url }}" type="video/mp4" />
                                {{ 'PLUGIN_SSE.EMBEDS.VIDEOS_NOT_SUPPORTED'|t }}
                            </video>
                            <span class="sse-status-image-badge">
                                {%- if media.type == 'video' %}{{ media.video.duration_human }}{% else %}{{ 'PLUGIN_SSE.EMBEDS.GIF'|t }}{% endif -%}
                            </span>
                        {% endif %}
                        {% if medias_count > 1 %}
                            <aside class="sse-status-image-progress-dots" aria-hidden="true">
                                {% set media_index = loop.index %}
                                {% for i in 1..medias_count %}
                                    <span class="sse-status-image-progress-dot{% if media_index == i %} is-active{% endif %}"></span>
                                {% endfor %}
                            </aside>
                        {% endif %}
                    </div>
                {% endfor %}
                {% if medias_count > 1 %}
                    <a href="#" rel="prev" class="sse-status-image-handle-prev" aria-label="{{ 'PLUGIN_SSE.EMBEDS.PREV_MEDIA'|t }}">
                        <span class="fas fa-chevron-left"></span>
                    </a>
                    <a href="#" rel="next" class="sse-status-image-handle-next" aria-label="{{ 'PLUGIN_SSE.EMBEDS.NEXT_MEDIA'|t }}">
                        <span class="fas fa-chevron-right"></span>
                    </a>
                {% endif %}
            </figure>
        {% endif %}

        <footer>
            <ul class="sse-mastodon-stats">
                <li class="sse-mastodon-stats-date">
                    <time datetime="{{ created_at|date('c') }}"><a href="{{ url }}">{{ created_at|date('PLUGIN_SSE.EMBEDS.DATE_FORMAT'|t) }}</a></time>
                </li>
                <li title="{{ ('PLUGIN_SSE.MASTODON.VISIBILITIES.' ~ visibility|upper)|t }}" class="sse-mastodon-stats-visibility">
                    {%- set visibility_icons = {
                        'public': 'fas fa-globe-africa',
                        'unlisted': 'fas fa-unlock',
                        'private': 'fas fa-lock',
                        'direct': 'fas fa-envelope'
                    } -%}
                    <span class="{{ visibility_icons[visibility] }}"></span>
                </li>
                <li class="sse-mastodon-stats-application">
                    {%- if application.website -%}
                        <a href="{{ application.website }}">{{ application.name }}</a>
                    {%- else -%}
                        {{- application.name -}}
                    {%- endif -%}
                </li>
                <li aria-label="{{ 'PLUGIN_SSE.MASTODON.REBLOGS'|t|replace({'$rbls': reblogs_count}) }}" class="sse-mastodon-stats-reblogs">
                    <span class="fas fa-retweet" aria-hidden="true"></span> {{ reblogs_count -}}
                </li>
                <li aria-label="{{ 'PLUGIN_SSE.MASTODON.FAVOURITES'|t|replace({'$favs': favourites_count}) }}" class="sse-mastodon-stats-favourites">
                    <span class="fas fa-heart" aria-hidden="true"></span> {{ favourites_count -}}
                </li>
            </ul>
        </footer>
    {% endif %}
</article>
